.petsperdidos-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
  }
  
  .petsperdidos-container header {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .petsperdidos-container header span {
    font-size: 20px;
    margin-left: 30px;
    
  }
  
  .petsperdidos-container header img {
    height: 64px;
  }
  
  .petsperdidos-container header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
  }
  
  .petsperdidos-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #eda657;
    background: transparent;
    
    transition: border-color 0.2s;
    right:5px;
    margin-left:500px;
  }
  .petsperdidos-container header .button {
    height: 60px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: #695440;
    margin-left: 16px;
    transition: border-color 0.2s;
  }
  
  .petsperdidos-container header button:hover {
    border-color: #999;
  }
  
  .petsperdidos-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
    text-align: center;
    background-color: #eda657;
    border-radius:5px;
    color:white;
  }
  
  .petsperdidos-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
  }
  
  .petsperdidos-container ul li {
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
   
  }
  
  .petsperdidos-container  ul li  button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background-color:#695440;
  }
  .petsperdidos-container ul li h3 {
    text-align:center;
  }
  .petsperdidos-container ul li a{
    
    background-color:#695440;

  }
  
  

  
  .petsperdidos-container ul li button:hover {
    opacity: 0.8;
  }
  
  .petsperdidos-container ul li strong {
    
      display: block;
      margin-bottom: 16px;
      
      background-color: #eda657 ;
      height:30px;
      color:white;
      border-radius:5px;
    
  }
  
  .petsperdidos-container ul li p + strong {
    margin-top: 32px;
  }
  
  .petsperdidos-container ul li p {
    color: #333;
    line-height: 21px;
    font-size: 16px;
    background: #F0F0F5;
    height:50px;
    border-radius:5px;
  }
  .petsperdidos-container ul li ul li img {
    width:100%;
    height:100%;
    
    
}
.petsperdidos-container ul li ul li {
  margin-bottom:30px;
  background-color:white;
  align-items: center;
  justify-content: center;
  margin-top:50px;
  
}


  .petsperdidos-container ul li ul  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    list-style: none;
     
      
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

  * {
      margin:0;
      padding:0;
      outline:0;
      box-sizing:border-box;
  
  }
  
  body{
      font: 400 18px Roboto, sans-serif;
      background-color: #cccbbc;
     
      -webkit-animation-smoothing : antialiased;
  }
  
  input,textarea,button{
      font:400 18px Roboto , Sans-serif;
  }
  
  button{
      cursor:pointer;
  }
  
  form input {
      width:100%;
      height:60px;
      color:#333;
      border:1px solid #dcdce6;
      border-radius: 8px;
      padding:0 24px;
  }
  form textarea {
      width:100%;
      min-height:140px;
      resize: vertical;
     
      color:#333;
      border:1px solid #dcdce6;
      border-radius: 8px;
      padding: 16px 24px;
      line-height:24px;
  }
  
  .button{
      width:100%;
      height:60px;
      background-color:#695440;
      color:#fff;
      font-weight:700;
      margin-top:16px;
      display:inline-block;
      text-align:center;
      text-decoration:none;
      font-size:18px;
      line-height:60px;
      transition: filter 0.2s;
      border-radius:5px;
  }
  .button:hover{
      filter:brightness(90%)
  
  }
  
  .back-link {
      display:flex;
      align-items:center;
      margin-top:40px;
      color:#695440;
      font-size:18px;
      text-decoration:none;
      font-weight:500;
      transition:opacity 0.2;
  
  }
  .back-link:hover{
      opacity:0.8;
  }
  .back-link svg{
   margin-right:8px;
  }
    